* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url('error.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100vh;
    padding-bottom: 50px; /* Ensures footer is not hidden behind content */
    flex: 1;
}